.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
.venv/
venv/
dist/
*.egg-info/
*.tmp
*.swp
.vscode/
.idea/
replays/
logs/
render_4player_out.ipynb
render_4player_out.html
render_2player_out.ipynb
render_2player_out.html
